.container {
    align-content: space-evenly;
}


/* Navbar */
.navbar {
    width: 100vw;
}
.navbar-toggler {
    border: none;
}
  
.navbar-toggler:active,
.navbar-toggler:focus {
    box-shadow: none;
}
  
.navbar-nav .nav-link {
    font-weight: 600;
    margin: 0 0.7rem;
}
  
.navbar-toggler .icon-bar {
    display: block;
    background-color: #6d6d6d;
    height: 2px;
    width: 22px;
    margin: 4px 0;
    border-radius: 5px;
    opacity: 1;
    transition: all 0.3s ease-out;
    transform-origin: center left;
}
  
/* Animate X */
.navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
   transform: rotate(45deg);
   transform-origin: 10% 10%;
}
  
.navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
   opacity: 0;
}
  
.navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
   transform: rotate(-45deg);
   transform-origin: 10% 90%;
} 
  
/* Animate Hamburger */
.navbar-toggler .icon-bar:nth-child(1) {
   transform: rotate(0);
} 
/* middle line goes back to regular color and opacity */
.navbar-toggler .icon-bar:nth-child(2) {
   opacity: 1;
} 
/* bottom line goes back to initial position and rotates back to 0 degrees */
.navbar-toggler .icon-bar:nth-child(3) {
   transform: rotate(0);
}

/*Rubrik*/
#rubrik{
    font-family:sans-serif;
    text-align: center;
    margin-top: 30px;
}

/* Senaste nytt, Kom Ihåg, Köpa hund, Länklista */
/* .card{
   max-width: 18rem;
   min-width: none;
   margin: 10%;
} */

/*Showcase*/
.showcase{
   padding: 30px;
   text-align: center;  
}
.showcase h3{
   text-align: center;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
  
.showcase p{
   margin: 0;
   text-align: center;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.showcase img{
    text-align: center;
    max-width: 100%;
    min-width: 25%;
}

/*Logo*/
.logos .block{
    width: 80%;
    margin: auto;
    overflow: hidden;
    margin: 10%;
    padding: 3%;
}
#logo{
    float: left;
    width: 25%;
    padding:15px;
    text-align: center;
    box-sizing: border-box;
}


/* Footer */
.footer-content {
    text-align: center;
}

.social {
    font-size: 2.2rem;
    /* margin: 1rem; */
}

/* --------------------------------------------------------------------------------- */

/*-----------------------------------SENASTE NYTT----------------------------------- */

#inlägg{
    margin: auto;
    margin-top: 5%;
    max-width: 100%;
    min-width: none;
}

#inlägg img{
    margin: auto;
    margin-top: 2%;
    max-width: 50%;
    min-width: none;
}

/* --------------------------------------------------------------------------------- */

/*----------------------------------RASSTANDARDEN----------------------------------- */

#rasstandarden{
    max-width: 100%;
    min-width: none;
    margin-top: 3%;
    margin-bottom: 5%;
}

/* --------------------------------------------------------------------------------- */

/*----------------------------------------HÄLSA-------------------------------------- */
#hälsa{
    max-width: 100%;
    min-width: none;
    margin-top: 3%;
    margin-bottom: 5%;
}

/* --------------------------------------------------------------------------------- */

/*-------------------------------------HISTORIA-------------------------------------- */

#historia{
    max-width: 100%;
    min-width: none;
    margin: 3%;
    margin-bottom: 5%;
}

/* --------------------------------------------------------------------------------- */

/*-------------------------------------OM KLUBBEN-------------------------------------- */
#klubben{
    max-width: 100%;
    min-width: none;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 5%;
}
#klubben img{
    max-width: 50%;
    min-width: none;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 5%;
}


/* --------------------------------------------------------------------------------- */

/*-------------------------------------STADGAR-------------------------------------- */

#stadgar{
    max-width: 100%;
    min-width: none;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 5%;
}

#mom{
    color: blue;
    font-size: small;
}

/* --------------------------------------------------------------------------------- */

/*-------------------------------------MEDLEMSKAP-------------------------------------- */

#medlemskap{
    max-width: 100%;
    min-width: none;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 5%;
}

#medlemskap img{
    margin: auto;
}

/* --------------------------------------------------------------------------------- */

/*-------------------------------------STYRELSEN-------------------------------------- */

#styrelsen{
    margin: auto;
    max-width: 80%;
    min-width: none;
    margin-top: 3%;
    text-align: center;
    margin-bottom: 5%;
    
}
#styrelsen h1{
    margin-top: 3%;
}

/* --------------------------------------------------------------------------------- */

/*-------------------------------------KOMMITTÉER-------------------------------------- */

#kommittéer{
    margin: auto;
    max-width: 80%;
    min-width: none;
    text-align: center;
    margin-bottom: 5%;    
}

#kommitteTitel{
    text-align: center;
    margin: auto;
    margin-top: 3%;
}

/* --------------------------------------------------------------------------------- */

/*-------------------------------------AAKS-BLADET-------------------------------------- */

#aaksbladet{   
    max-width: 100%;
    min-width: none;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 5%;
}

#bladnummer {
    margin: auto;
    max-width: 100%;
    min-width: none;
}

/* --------------------------------------------------------------------------------- */

/*-------------------------------------PRODUKTER-------------------------------------- */

#produkter{
    margin: auto;
    margin-top: 3%;
    max-width: 80%;
    min-width: none;
    margin-bottom: 5%;
}

#produkter img{
    margin: auto;
    padding: 0;
}

/* --------------------------------------------------------------------------------- */

/*-------------------------------------REKOMMENDATIONER-------------------------------------- */

#rekommendationer{
    max-width: 100%;
    min-width: none;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 5%;
}

/* --------------------------------------------------------------------------------- */

/*-------------------------------------HANHUNDSLISTA-------------------------------------- */

#hanhundslita{
    max-width: 100%;
    min-width: none;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 5%;
}

#ingahundar{
    color:red;
}

/* --------------------------------------------------------------------------------- */

/*-------------------------------------RAS-------------------------------------- */

#ras{
    max-width: 100%;
    min-width: none;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 5%;
}

/* --------------------------------------------------------------------------------- */

/*-------------------------------------AVELSKOMMITTÉ-------------------------------------- */

#avelskommitté{
    margin: auto;
    margin-top: 3%;
    margin-bottom: 5%;
    max-width: 80%;
    min-width: none;
    text-align: center;      
}

/* --------------------------------------------------------------------------------- */

/*-------------------------------------STATISTIK-------------------------------------- */

#registreringar{
    margin: auto;
    max-width: 80%;
    min-width: none;
}

#antal-djur{
    margin: auto;
    max-width: 80%;
    min-width: none;
}

#ålder{
    margin: auto;
    max-width: 80%;
    min-width: none;  
}

#inavelsgrad{
    margin: auto;
    max-width: 80%;
    min-width: none;
    margin-bottom: 5%;
}

#antal-avkommor{
    margin: auto;
    max-width: 80%;
    min-width: none;
    padding: 0;
    margin-bottom: 5%;
}

#antal-barnbarn{
    margin: auto;
    max-width: 80%;
    min-width: none;
    padding: 0;
    margin-bottom: 5%; 
}

/* --------------------------------------------------------------------------------- */

/*-------------------------------------ATT TÄNKA PÅ-------------------------------------- */

#att-tänka-på{
    margin: auto;
    margin-top: 3%;
    margin-bottom: 5%;
    max-width: 80%;
    min-width: none;
}

/* --------------------------------------------------------------------------------- */

/*-------------------------------------UPPFÖDARE-------------------------------------- */

#uppfödare{
    margin: auto;
    margin-top: 3%;
    margin-bottom: 5%;
    max-width: 80%;
    min-width: none;
    padding: 0;
}

/* --------------------------------------------------------------------------------- */

/*-------------------------------------PLANERADE VALPAR-------------------------------------- */



/* --------------------------------------------------------------------------------- */

/*-------------------------------------OMPLACERING-------------------------------------- */

#omplacering{
    margin: auto;
    margin-top: 3%;
    margin-bottom: 5%;
    max-width: 80%;
    min-width: none; 
}

#ingaomplaceringar{
    color:red;
}


/* --------------------------------------------------------------------------------- */

/*-------------------------------------ATT TÄNKA PÅ-------------------------------------- */



/* --------------------------------------------------------------------------------- */

/*-------------------------------------ATT TÄNKA PÅ-------------------------------------- */



/* --------------------------------------------------------------------------------- */

/*-------------------------------------ATT TÄNKA PÅ-------------------------------------- */



/* --------------------------------------------------------------------------------- */

/*-------------------------------------ATT TÄNKA PÅ-------------------------------------- */



/* --------------------------------------------------------------------------------- */

/*-------------------------------------ATT TÄNKA PÅ-------------------------------------- */



/* --------------------------------------------------------------------------------- */

/*-------------------------------------ATT TÄNKA PÅ-------------------------------------- */


/* --------------------------------------------------------------------------------- */

/*-------------------------------------ATT TÄNKA PÅ-------------------------------------- */



/* --------------------------------------------------------------------------------- */

/*-------------------------------------ATT TÄNKA PÅ-------------------------------------- */