@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}

.container {
    align-content: space-evenly;
}

/* Navbar */
.navbar {
    width: 100vw;
}
.navbar-toggler {
    border: none;
}
  
.navbar-toggler:active,
.navbar-toggler:focus {
    box-shadow: none;
}
  
.navbar-nav .nav-link {
    font-weight: 600;
    margin: 0 0.7rem;
}
  
.navbar-toggler .icon-bar {
    display: block;
    background-color: #6d6d6d;
    height: 2px;
    width: 22px;
    margin: 4px 0;
    border-radius: 5px;
    opacity: 1;
    transition: all 0.3s ease-out;
    transform-origin: center left;
}
  
/* Animate X */
.navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
   transform: rotate(45deg);
   transform-origin: 10% 10%;
}
  
.navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
   opacity: 0;
}
  
.navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
   transform: rotate(-45deg);
   transform-origin: 10% 90%;
} 
  
/* Animate Hamburger */
.navbar-toggler .icon-bar:nth-child(1) {
   transform: rotate(0);
} 
/* middle line goes back to regular color and opacity */
.navbar-toggler .icon-bar:nth-child(2) {
   opacity: 1;
} 
/* bottom line goes back to initial position and rotates back to 0 degrees */
.navbar-toggler .icon-bar:nth-child(3) {
   transform: rotate(0);
}

/*Rubrik*/
#rubrik{
    text-align: center;
    margin: auto;
    margin-top: 5%; 
}

#sidostycke{
    margin-top: 17%; 
 }

/* Senaste nytt, Kom Ihåg, Köpa hund, Länklista */
#senasteNytt, #komIhåg, #köpaHund, #länklista{
   max-width: 18rem;
   min-width: none;
   margin: auto;
   margin-top: 5%;  
}


/*Showcase*/
.showcase{
   margin: auto;
   margin-top: 10%;
   text-align: center;    
}
.showcase h3{
   text-align: center;
}
  
.showcase p{
   margin: 0;
   text-align: center;
}
.showcase img{
    text-align: center;
    max-width: 100%;
    min-width: 25%;
}

/*Logo*/
.logos .block{
    width: 80%;
    margin: auto;
    overflow: hidden;
    margin: 10%;
    padding: 3%;
}
#logo{
    float: left;
    width: 25%;
    padding:20px;
    text-align: center;
    box-sizing: border-box;
    margin: auto;
}


/* Footer */
.footer-content {
    text-align: center;
}

.social {
    font-size: 2.2rem;
    /* margin: 1rem; */
}

/* --------------------------------------------------------------------------------- */

/*-----------------------------------SENASTE NYTT----------------------------------- */

#inlägg{
    margin: auto;
    margin-top: 5%;
    max-width: 100%;
    min-width: none;
}

#inlägg img{
    margin: auto;
    margin-top: 2%;
    max-width: 50%;
    min-width: none;
}

/* --------------------------------------------------------------------------------- */

/*----------------------------------RASSTANDARDEN----------------------------------- */

#rasstandarden{
    max-width: 100%;
    min-width: none;
    margin-top: 3%;
    margin-bottom: 5%;
}

/* --------------------------------------------------------------------------------- */

/*----------------------------------------HÄLSA-------------------------------------- */
#hälsa{
    max-width: 100%;
    min-width: none;
    margin-top: 3%;
    margin-bottom: 5%;
}

/* --------------------------------------------------------------------------------- */

/*-------------------------------------HISTORIA-------------------------------------- */

#historia{
    max-width: 100%;
    min-width: none;
    margin: 3%;
    margin-bottom: 5%;
}

/* --------------------------------------------------------------------------------- */

/*-------------------------------------OM KLUBBEN-------------------------------------- */
#klubben{
    max-width: 100%;
    min-width: none;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 5%;
}
#klubben img{
    max-width: 50%;
    min-width: none;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 5%;
}


/* --------------------------------------------------------------------------------- */

/*-------------------------------------STADGAR-------------------------------------- */

#stadgar{
    max-width: 100%;
    min-width: none;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 5%;
}

#mom{
    color: blue;
    font-size: small;
}

/* --------------------------------------------------------------------------------- */

/*-------------------------------------MEDLEMSKAP-------------------------------------- */

#medlemskap{
    max-width: 100%;
    min-width: none;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 5%;
}

#medlemskap img{
    margin: auto;
}

/* --------------------------------------------------------------------------------- */

/*-------------------------------------STYRELSEN-------------------------------------- */

#styrelsen{
    margin: auto;
    max-width: 80%;
    min-width: none;
    margin-top: 3%;
    text-align: center;
    margin-bottom: 5%;
    
}
#styrelsen h1{
    margin-top: 3%;
}

/* --------------------------------------------------------------------------------- */

/*-------------------------------------KOMMITTÉER-------------------------------------- */

#kommittéer{
    margin: auto;
    max-width: 80%;
    min-width: none;
    text-align: center;
    margin-bottom: 5%;    
}

#kommitteTitel{
    text-align: center;
    margin: auto;
    margin-top: 3%;
}

/* --------------------------------------------------------------------------------- */

/*-------------------------------------AAKS-BLADET-------------------------------------- */

#aaksbladet{   
    max-width: 100%;
    min-width: none;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 5%;
}

#bladnummer {
    margin: auto;
    max-width: 100%;
    min-width: none;
}

/* --------------------------------------------------------------------------------- */

/*-------------------------------------PRODUKTER-------------------------------------- */

#produkter{
    margin: auto;
    margin-top: 3%;
    max-width: 80%;
    min-width: none;
    margin-bottom: 5%;
}

#produkter img{
    margin: auto;
    padding: 0;
}

/* --------------------------------------------------------------------------------- */

/*-------------------------------------REKOMMENDATIONER-------------------------------------- */

#rekommendationer{
    max-width: 100%;
    min-width: none;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 5%;
}

/* --------------------------------------------------------------------------------- */

/*-------------------------------------HANHUNDSLISTA-------------------------------------- */

#hanhundslita{
    max-width: 100%;
    min-width: none;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 5%;
}

#ingahundar{
    color:red;
}

/* --------------------------------------------------------------------------------- */

/*-------------------------------------RAS-------------------------------------- */

#ras{
    max-width: 100%;
    min-width: none;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 5%;
}

/* --------------------------------------------------------------------------------- */

/*-------------------------------------AVELSKOMMITTÉ-------------------------------------- */

#avelskommitté{
    margin: auto;
    margin-top: 3%;
    margin-bottom: 5%;
    max-width: 80%;
    min-width: none;
    text-align: center;      
}

/* --------------------------------------------------------------------------------- */

/*-------------------------------------STATISTIK-------------------------------------- */

#registreringar{
    margin: auto;
    max-width: 80%;
    min-width: none;
}

#antal-djur{
    margin: auto;
    max-width: 80%;
    min-width: none;
}

#ålder{
    margin: auto;
    max-width: 80%;
    min-width: none;  
}

#inavelsgrad{
    margin: auto;
    max-width: 80%;
    min-width: none;
    margin-bottom: 5%;
}

#antal-avkommor{
    margin: auto;
    max-width: 80%;
    min-width: none;
    padding: 0;
    margin-bottom: 5%;
}

#antal-barnbarn{
    margin: auto;
    max-width: 80%;
    min-width: none;
    padding: 0;
    margin-bottom: 5%; 
}

/* --------------------------------------------------------------------------------- */

/*-------------------------------------ATT TÄNKA PÅ-------------------------------------- */

#att-tänka-på{
    margin: auto;
    margin-top: 3%;
    margin-bottom: 5%;
    max-width: 80%;
    min-width: none;
}

/* --------------------------------------------------------------------------------- */

/*-------------------------------------UPPFÖDARE-------------------------------------- */

#uppfödare{
    margin: auto;
    margin-top: 3%;
    margin-bottom: 5%;
    max-width: 80%;
    min-width: none;
    padding: 0;
}


/* --------------------------------------------------------------------------------- */

/*-------------------------------------OMPLACERING-------------------------------------- */

#omplacering{
    margin: auto;
    margin-top: 3%;
    margin-bottom: 5%;
    max-width: 80%;
    min-width: none; 
}

#ingaomplaceringar{
    color:red;
}


/* --------------------------------------------------------------------------------- */

/*-------------------------------------PLANERADE VALPAR -------------------------------------- */

#planerade-valpar{
    margin: auto;
    margin-top: 3%;
    margin-bottom: 5%;
    max-width: 80%;
    min-width: none; 
}

#ingaPlaneradeValpar{
    color:red;
}

/* --------------------------------------------------------------------------------- */

/*-------------------------------------TOPPLISTA UTSTÄLLNING-------------------------------------- */

#topplista-utställning{
    margin: auto;
    margin-top: 3%;
    margin-bottom: 5%;
    max-width: 80%;
    min-width: none;
}

#utställning-2020,
#utställning-2019, #utställning-2018, #utställning-2017, #utställning-2016, #utställning-2015,
#utställning-2014, #utställning-2013, #utställning-2012, #utställning-2011, #utställning-2010, 
#utställning-2009,#utställning-2008, #utställning-2007, #utställning-2006, #utställning-2005, 
#utställning-2004, #utställning-2003, #utställning-2002, #utställning-2001, #utställning-2000{
    text-align: center;
    margin-top: 5%;
}
@media only screen and (max-width: 576px){
    #utställning-2020,
    #utställning-2019, #utställning-2018, #utställning-2017, #utställning-2016, #utställning-2015,
    #utställning-2014, #utställning-2013, #utställning-2012, #utställning-2011, #utställning-2010, 
    #utställning-2009,#utställning-2008, #utställning-2007, #utställning-2006, #utställning-2005, 
    #utställning-2004, #utställning-2003, #utställning-2002, #utställning-2001, #utställning-2000{
      margin-top: 15%;  
    }
}

#hanar{
    margin-top: 10%;

}

#tikar{
    margin-top: 10%;
    
}
@media only screen and (max-width: 576px){
    #tikar{
      margin-top: 15%;  
    }
}

#tik-2017, #tik-2015, #tik-2012, #tik-2011, #tik-2010, #tik-2009, #tik-2008, #tik-2007, #tik-2005, #tik-2004, #tik-2002, #tik-2001, #tik-2000 {
    text-align: center;
}

#hane-2017, #hane-2016, #hane-2015, #hane-2014, #hane-2012, #hane-2010, #hane-2009, #hane-2008, #hane-2007, #hane-2005, #hane-2004, #hane-2002, #hane-2001, #hane-2000{
    text-align: center;
}
#hane-2017 img, #hane-2016 img, #hane-2015 img, #hane-2014 img, #hane-2012 img, #hane-2010 img, #hane-2009 img, #hane-2008 img, #hane-2007 img, #hane-2005 img, #hane-2004 img, #hane-2002 img, #hane-2001 img, #hane-2000 img,
#tik-2017 img, #tik-2015 img,  #tik-2012 img,  #tik-2010 img, #tik-2009 img, #tik-2008 img, #tik-2007 img, #tik-2005 img, #tik-2004 img, #tik-2002 img, #tik-2001 img, #tik-2000 img{
    max-width: 370px;
}

@media only screen and (max-width: 576px){
    #tik-2017 img, #tik-2015 img, #tik-2012 img, #tik-2011 img, #tik-2010 img, #tik-2009 img, #tik-2008 img, #tik-2007 img, #tik-2005 img, #tik-2004 img, #tik-2002 img, #tik-2001 img, #tik-2000 img,
    #hane-2016 img, #hane-2015 img, #hane-2014 img, #hane-2012 img,  #hane-2010 img, #hane-2009 img, #hane-2008 img, #hane-2007 img, #hane-2005 img, #hane-2004 img, #hane-2002 img, #hane-2001 img, #hane-2000 img {
      max-width: 90%;
    }
}


/* --------------------------------------------------------------------------------- */

/*-------------------------------------TOPPLISTA VILTSPÅR-------------------------------------- */

#topplista-viltspår{
    margin: auto;
    margin-top: 3%;
    margin-bottom: 5%;
    max-width: 80%;
    min-width: none;
}


#viltspår-år{
    text-align: center;
    margin-top: 5%;
}

@media only screen and (max-width: 576px){
    #viltspår-år{
        margin-top: 15%;
    }
}

#viltspår-bild{
    text-align: center;
}
#viltspår-bild img{
    max-width: 250px;
}
@media only screen and (max-width: 576px){
    #viltspår-bild img{
        max-width: 50%;
    }
}
/* --------------------------------------------------------------------------------- */

/*-------------------------------------TOPPLISTA AKTIV HUND-------------------------------------- */

#topplista-aktiv-hund{
    margin: auto;
    margin-top: 3%;
    margin-bottom: 5%;   
    min-width: none;
}

#aktivhund{
    text-align: center;
    margin-bottom: 3%;
}

#aktiv-hund-år{
    text-align: center;
    margin-top: 5%;
}

@media only screen and (max-width: 576px){
    #aktiv-hund-år{
        margin-top: 15%;
    }
}
#aktiv-hund-bild{
    text-align: center;
}
#aktiv-hund-bild img{
    max-width: 250px;
}
@media only screen and (max-width: 576px){
    #aktiv-hund-bild img{
        max-width: 50%;
    }
}

/* --------------------------------------------------------------------------------- */

/*-------------------------------------gALLERI HANAR-------------------------------------- */

#galleriHanar{
    margin: auto;
    margin-top: 3%;
    margin-bottom: 5%;
    max-width: 80%;
    min-width: none; 
}

#galleriHanar img{
    margin: auto;
    padding: 0;
}

#carouselExampleIndicators{
    background-color: #6d6d6d;
}

/* --------------------------------------------------------------------------------- */

/*-------------------------------------GALLERI TIKAR-------------------------------------- */

#galleriTikar{
    margin: auto;
    margin-top: 3%;
    margin-bottom: 5%;
    max-width: 80%;
    min-width: none; 
}

#galleriTikar img{
    margin: auto;
    padding: 0;
}

/* --------------------------------------------------------------------------------- */

/*-------------------------------------GALLERI VALPAR-------------------------------------- */

#galleriValpar{
    margin: auto;
    margin-top: 3%;
    margin-bottom: 5%;
    max-width: 80%;
    min-width: none;
}

#galleriValpar img{
    margin: auto;
    padding: 0;
}

/* --------------------------------------------------------------------------------- */

/*-------------------------------------FÖR MEDLEMMAR-------------------------------------- */

#förMedlemmar{
    margin: auto;
    margin-top: 3%;
    margin-bottom: 5%;
    max-width: 80%;
    min-width: none;
}

#medlemsida{
    margin: auto;
    margin-top: 3%;
    margin-bottom: 5%;
    max-width: 80%;
    min-width: none;
}

#medlemsida-text{
    margin-top: 5%;
    border-bottom:1px solid lightgrey;
}
#medlemsida-text h3{
    color: rgb(145, 1, 1);
}
/* --------------------------------------------------------------------------------- */

/*-------------------------------------ENKÄTER-------------------------------------- */

#enkäter{
    margin: auto;
    margin-top: 3%;
    margin-bottom: 5%;
    max-width: 80%;
    min-width: none; 
}





